# ================================
# APP
# ================================
NODE_ENV=development

# ================================
# AUTH SERVICE
# ================================
AUTH_PORT=3001
JWT_SECRET=changeme_jwt_secret
JWT_EXPIRES_IN=7d

# ================================
# USER SERVICE
# ================================
USER_PORT=8001

# ================================
# NOTIFICATION SERVICE
# ================================
NOTIFICATION_PORT=5001

# ================================
# WORKER SERVICE
# ================================
WORKER_PORT=5002

# ================================
# POSTGRESQL
# ================================
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=nexus
POSTGRES_PASSWORD=changeme_postgres
POSTGRES_DB=nexus_db

# ================================
# REDIS
# ================================
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=changeme_redis

# ================================
# RABBITMQ
# ================================
RABBITMQ_HOST=rabbitmq
RABBITMQ_PORT=5672
RABBITMQ_USER=nexus
RABBITMQ_PASSWORD=changeme_rabbitmq
RABBITMQ_VHOST=nexus

# ================================
# MONGODB
# ================================
MONGO_HOST=mongodb
MONGO_PORT=27017
MONGO_USER=nexus
MONGO_PASSWORD=changeme_mongo
MONGO_DB=nexus_notifications

# ================================
# GRAFANA
# ================================
GRAFANA_PASSWORD=changeme_grafana